.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  color: white;
  font-size: 5rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 0;
  display: inline-block;
}
