.Dice {
  margin: 1.4rem;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 810px) {
  .Dice {
    width: 50%;
    margin: 1.6rem auto;
    justify-content: space-around;
  }
}
