.Game {
  width: 90%;
  max-width: 100rem;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-weight: 100;
  font-size: 3rem;
  border-bottom: 2px solid purple;
  margin: 1rem 0;
  display: inline-block;
}

.Game-button-wrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game-reroll {
  width: 20rem;
  color: white;
  background-image: linear-gradient(
    to right,
    #91eae4 0%,
    #7f7fd5 51%,
    #91eae4 100%
  );
  background-size: 200% auto;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  padding: 1rem 0;
  transition: 0.5s;
}

.Game-reroll:hover {
  cursor: pointer;
  background-position: right center;
}

.Game-reroll:active,
.Game-reroll:focus {
  outline: none;
}

.Game-reroll:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
}

.Game-description {
  color: white;
  font-style: italic;
}

.Game-header {
  width: 100%;
  background: linear-gradient(-45deg, #673ab7, #9c27b0);
  background-size: cover;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
