.RuleRow {
  transition: all 0.2s;
}
.RuleRow-active:hover {
  cursor: pointer;
  background: rgba(227, 242, 253, 0.5);
}

.RuleRow-disabled {
  background: linear-gradient(
    to right,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 0%,
    rgba(209, 196, 233, 1) 30%,
    rgba(227, 242, 253, 1) 40%
  );
  background-size: 300% 300%;
  animation: Slide 1s ease 1;
}

.RuleRow-disabled td:first-child {
  text-decoration: line-through;
}

.RuleRow-disabled:hover {
  cursor: not-allowed;
}

.RuleRow td {
  padding: 0.7rem;
  border-bottom: solid 1px hsl(300, 21%, 59%);
}

.RuleRow-name {
  width: 40%;
  text-align: left;
}

.RuleRow-score {
  width: 60%;
  text-align: right;
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}



/* add hover text */

 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 