.ScoreTable {
  width: 95%;
  background-color: white;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1140px) {
  .ScoreTable {
    flex-direction: row;
    gap: 4rem;
  }
}

.ScoreTable table {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.ScoreTable-section {
  width: 100%;
}
